/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.button-row button,
.button-row a {
  margin-right: 8px;
}

.container{
    margin: 5px 15px 0px 15px;
}

.example-spacer{
  flex: 1 1 auto;
}

.buttonHeight{
  height: 50px;
}

.body{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: f5f5f5;
}